.header{
    display: flex;
}
.name{
    flex: 1;
}
.game{
    font-size: 28px;
    border: 1px solid black;
    background-color: white;
    font-weight: bold;

}
.game:hover{
    background-color: black;
    border-color: white;
    color: white;
}